<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class="row">
            <div class="col-8 offset-2 mt-1 mb-2">
            <!-- <h2>List Details</h2> -->
            </div>
        <div class="card col-6 offset-2 show-card">
          
          <h4><%=singleList.title%></h4>
          <img src="<%= singleList.image.url %>" class="card-img-top show-img" alt="List image">
           <div class="card-body mt-2">
            <!-- <p class="card-text mt-1"><b><%=singleList.title%></b> -->
            <div class="card-body">
            <p class="card-text">@<%= singleList.owner.username%></p>
            <p class="card-text"> <%=singleList.description%></p>
            

            <p class="card-text"> &#8377 <%=singleList.price.toLocaleString("en-in")%> /night</p>
            <p class="card-text"><%=singleList.location%></p>
            <p class="card-text"><%=singleList.country%></p></p></div>
            </div>
            <% if(currUser && currUser._id.equals(singleList.owner._id)){%>
          <div class="btns col-6 ">
    
            <form action="/listing/<%=singleList._id%>/edit" method="GET"><button class=" btn btn-dark form-btn">Edit</button></form>
        
            <form method="POST" action="/listing/<%=singleList._id%>?_method=DELETE"><button class="btn btn-dark offset-5">Delete</button>
            </form>
           </div>
           <% } %>
        </div> 
        <div class="col-8 offset-2 mt-1 mb-2">
          <% if(currUser) { %>
          <h5>Leave a review</h5>
          <form action="/listing/<%=singleList._id%>/reviews" method="POST" novalidate class="needs-validation">
            <div>
              
              <!-- <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]"> -->
              <!-- ------------------ -->
              <label for="rating" class="form-label">Rating</label>

              <fieldset class="starability-slot">
                
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1"/>
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <!-- --------------------------- -->
            </div>
            <div> 
              <label for="comment" class="form-label">Comment</label>
              <textarea name="review[comment]" id="comment" cols="20" rows="5" class="form-control" required></textarea>
              <div class="invalid-feedback">Comment Required for Review</div>

            </div>
            <button class="btn btn-dark form-btn mt-2 ">Submit</button>
          </form>
          <br>
            <% } %>
            <div class="card col-5 offset-0 show-card">
          </div>
          <div class=" row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            <h6 class=" mb-3 ">All Reviews</h6>
            <%for(let review of singleList.reviews){ %>
            <div class="review card col-5 ms-3">
              <div class="card-body">
                <p class="card-title"><b>@<%= review.author.username%></b></p>
                <p class="starability-result card-text" data-rating="<%=review.rating%>">
                  <p class="card-text"><%=review.rating%></p>

                <p class="card-text"><%=review.comment%> </p>
                
                  
                </p>
              </div>
              <% if(currUser && review.author.equals(currUser._id)) { %>
              <form action="/listing/<%=singleList._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
               <button class="btn btn-dark mt-2">Delete</button>
              </form>
              <% } %>
            </div>
            <%}%>
          </div>
          
        </div>
    </div>
    
</body>
